<app-menu></app-menu>

<router-outlet></router-outlet>


<!-- 
<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ numero | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button pButton 
        (click)="mostrarNombre()" 
        label="Cambiar nombre" 
        icon="pi pi-apple"
        class="p-button-help" 
        iconPos="right">
</button>

<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quae sed fugit assumenda ipsam laudantium numquam quos at earum illum temporibus quasi debitis, minima necessitatibus distinctio molestiae adipisci labore consectetur?</p>
</p-card> -->
